@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url(./Inter/static/Inter-Medium.ttf);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
